{% extends "layout.html.twig" %}




<h1>formulaire</h1>

<form action="">

    <label for="">Name</label>
    <input type="text">

    <label for="">Pseudo</label>
    <input type="text">

    <label for="">email</label>
    <input type="email">

    <label for="">Password</label>
    <input type="password">

    <label for="">Confirm Password</label>
    <input type="password">





</form>


