{% extends "layout.html.twig" %} 
{% block content %}
<section class="py-5">
    <h2 class="text-success pb-5 pt-2">Que des images</h2>
    <div class="d-flex justify-content-around">
      <div class="d-flex flex-row">
        <div class="card mx-3" style="width: 18rem;">
          <img src="https://cdn11.bigcommerce.com/s-ktikayh2p6/images/stencil/original/products/1326/23690/v-985544141__1388007087__20494.1668999313.jpg?c=1" class="card-img-top" alt="image 1">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card mx-3" style="width: 18rem;">
          <img src="https://cdn11.bigcommerce.com/s-ktikayh2p6/images/stencil/original/products/1326/23691/v-996634356__-2013228843__61795.1668999313.jpg?c=1" class="card-img-top" alt="image 2">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card mx-3" style="width: 18rem;">
          <img src="https://cdn11.bigcommerce.com/s-ktikayh2p6/images/stencil/original/products/1326/23693/v-1001359407__-1613059230__31860.1668999313.jpg?c=1" class="card-img-top" alt="image 3">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
    </div>
    
  </section>
{% endblock %}



